#resume {
    margin: 1em 2em;
    margin-bottom: 5em;
    width:100%;
    position: relative
}

#resume h1 {
    text-align: center;
    margin: 0
}

#resume .title>h2 {
    float: left;
    margin-top: 0
}

#resume .title:after {
    content: "";
    display: table;
    clear: both
}

#resume .bold {
    display: inline;
    font-weight: 700;
    margin-left: 2em
}

#resume .subtitle {
    text-align: center;
    margin: 0
}

#resume span {
    float: right
}

#resume .table-padding td {
    padding-left: 2em !important
}

#resume p {
    margin-left: 2em
}